# Local editor settings
.vscode/
.agents/
.github
scratch

# Composer + local dev dependencies
vendor/
composer.json
composer.lock
phpcs.xml.dist

# Local dev environment
docker-compose.dev.yml
dev-env/

# IDE helpers
.ide-helper/
